<p id="notice"><%= notice %></p>

<div style="width: 100%; height: 50px; background-color: #a9a9a9; color: #000;"><%= link_to 'New Job +', new_job_path %></div>
<h1>All Jobs</h1>

<table class="table">
  <thead>
    <tr>
	<th scope="col">Job ID</th>
      <th scope="col">Title</th>
	  <th scope="col">Submitted</th>
	  <th scope="col">Updated</th>
	  <th scope="col">Time PH</th>
      <!-- <th>Body</th> --> 
	   <th scope="col">DEV: User ID</th>
	    <th scope="col">DEV: Customer ID</th>
	     <th scope="col">Assigned To (Designer)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.id, job %></td>
		
		<td><strong><%= link_to job.title, job %></strong></td>
		<td><%= time_ago_in_words(job.created_at) %></td>
		<td><%= time_ago_in_words(job.updated_at) %></td>
		<td><%=Time.use_zone('Sydney') { Time.current }.strftime("%I:%M %p") %></td>
        <!-- <td><%= job.body %></td> --> 
		 <td><%= job.user_id %></td>
		  <td><%= job.customer_id %></td>
		 <td><%= link_to job.user.email, job.user %></td>
        <td><%= link_to 'show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


