<p id="notice"><%= notice %></p>

<button style="border: 2px solid #3cd3f2; color: #000; background-color: #fff;" class="btn btn-lg btn-info btn-responsive">
        <%= link_to 'New Customer +', new_customer_path %></button></a>

<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
		<th scope="col">ID</th>
	<th scope="col">Name</th>
      <th scope="col">Email Address</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
		<td><strong><%= link_to customer.name, customer %></strong></td>
		<td><strong><%= customer.email_address %></strong></td>
		 
		 
        <td><%= link_to 'show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




