<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <h1><%= @customer.name %></h1>
</p>

<p>
  <strong>Email address:</strong>
  <%= @customer.email_address %>
</p>


<h3>Design Requests - For This Customer</h3>

<table class="table">
  <thead>
    <tr>
	<th scope="col">Job ID</th>
      <th scope="col">Title</th>
	  <th scope="col">Submitted</th>
	  <th scope="col">Updated</th>
	  <th scope="col">Time PH</th>
      <!-- <th>Body</th> --> 
	   <th scope="col">DEV: User ID</th>
	    <th scope="col">Customer </th>
	     <th scope="col">Assigned To (Designer)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.jobs.each do |job| %>
      <tr>
        <td><%= link_to job.id, job %></td>
		<td><strong><%= link_to job.title, job %></strong></td>
		<td><%= time_ago_in_words(job.created_at) %></td>
		<td><%= time_ago_in_words(job.updated_at) %></td>
		<td><%=Time.use_zone('Sydney') { Time.current }.strftime("%I:%M %p") %></td>
        <!-- <td><%= job.body %></td> --> 
		 <td><%= job.user_id %></td>
		 <!-- Only make call to .name if it exists. else, echo blank. -->
		  <% if job.customer %>
		  <td><%= link_to job.customer.name, job.customer %></td>
		 <% else  %>
		  <td></td>
		  <% end %>
		  
		  <% if job.designer %>
		 <td><%= link_to job.designer.name, job.designer  %></td>
		 <% else  %>
		  <td></td>
		  <% end %>
		 
		 
        <td><%= link_to 'show', @customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(@customer) %></td>
        <td><%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
